html
body{
  text-align: center;
}
h1 {
  color: rgb(248, 93, 248);
}
.playerID{
  font-size: 3vw;
  text-align: center;
  padding-bottom: 2vw;
}
.game {
  background-color: #000000;
  border: 1px dotted;
  border-color: #ffffff;
  width: 320px;
  height: 320px;
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.block {
  width:100px;
  height:100px;
  border: 2px dotted;
  border-color: #ffffff ;
  padding: 0px;
  margin: 0px;
  text-align: center;
  font-size: 70px;
  color: #ffffff;
}

.display{
font-size: 90px;
}

button {
  margin-top: 3vw;
  padding: 1vw;
}
